${package}

import java.util.List;
import org.apache.ibatis.annotations.Param;
${import_entity}
import com.house.building.param.${Entity}QueryParam;

public interface I${Entity}Mapper {
	
	int save(@Param("param") ${Entity} param);
	int update(@Param("param") ${Entity} param);
	int deleteById(@Param("id") String id);
	${Entity} getDataById(@Param("id") String id);
	
	int count(@Param("param") ${Entity}QueryParam param);
	List<${Entity}> query(@Param("param") ${Entity}QueryParam param,
			@Param("start") int start, @Param("end") int end);
}