<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.map.mapper.${Entity}Mapper">
	<resultMap type="${Entity}" id="${entity}Result">
		<id column="ID" property="id" jdbcType="NUMERIC" />
		${results}
	</resultMap>
	
	<select id="get${Entity}" parameterType="int" resultType="${Entity}">
		select * from ${table} where ID=#{id, jdbcType=NUMERIC}
	</select>
	<select id="list" parameterType="${Entity}" resultMap="${entity}Result">
		select * from ${table} 
		${wheres} 
		order by CREATE_TIME desc
	</select>
	
	<insert id="save" parameterType="${Entity}">
		INSERT INTO ${table} (${columns})
		VALUES (
		${values})
	</insert>
	
	<update id="update" parameterType="${Entity}">
		update ${table}
		<set>
			${sets}
		</set>
		where id = #{id, jdbcType=NUMERIC}
	</update>
	<delete id="delete" parameterType="int">
		delete from ${table} where id = #{id, jdbcType=NUMERIC}
	</delete>
</mapper>