package ${package}.service.impl;

import java.util.Date;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${package}.dao.I${Entity}Dao;
import ${package}.entity.${Entity};
import ${package}.page.IPage;
import ${package}.page.Page;
import ${package}.service.I${Entity}Service;
import ${package}.param.${Entity}QueryParam;
import com.myself.common.exception.ServiceException;
import com.myself.common.utils.UIDGeneratorUtil;

@Service("${entity}Service")
public class ${Entity}ServiceImpl implements I${Entity}Service {

	@Autowired
	private I${Entity}Dao ${entity}Dao;
	
	@Override
	public void save(${Entity} param) {
		param.setId(UIDGeneratorUtil.getUID());
		param.setStatus("1");
		param.setCreateTime(new Date());
		int count = ${entity}Dao.save(param);
		if (count < 1) {
			throw new ServiceException("新增失败");
		}
	}

	@Override
	public void update(${Entity} param) {
		param.setUpdateTime(new Date());
		int count = ${entity}Dao.update(param);
		if (count < 1) {
			throw new ServiceException("更新失败");
		}
	}

	@Override
	public void deleteById(String id) {
		int count = ${entity}Dao.deleteById(id);
		if (count < 1) {
			throw new ServiceException("删除失败");
		}
	}

	@Override
	public ${Entity} getDataById(String id) {
		return ${entity}Dao.getDataById(id);
	}

	@Override
	public IPage<${Entity}> query(${Entity}QueryParam param, int page, int rows) {
		List<${Entity}> list = null;
		page = page <= 0 ? 1 : page;
		rows = rows <= 0 ? 10 : rows;
		int count = ${entity}Dao.count(param);
		if (count > 0) {
			int start = (page - 1) * rows;
			int end = start + rows;
			list = ${entity}Dao.query(param, start, end);
		}
		return new Page<${Entity}>(list, count, page, rows);
	}
}
