${package}

${import_entity}
import com.house.building.page.IPage;
import com.house.building.param.${Entity}QueryParam;

public interface I${Entity}Service {

	void save(${Entity} param);
	void update(${Entity} param);
	void deleteById(String id);
	${Entity} getDataById(String id);
	
	IPage<${Entity}> query(${Entity}QueryParam param, int page, int rows);
}