<%@ page language="java" pageEncoding="UTF-8"%>
<%@ include file="/common/include.jsp"%>
<form class="form-horizontal" id="validation-formAdd" role="form">
	${adds}
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button class="btn btn-sm btn-info" type="button" id="btn-save"><i class="icon-save bigger-110"></i>保 存</button>
		</div>
	</div>
</form>
<script type="text/javascript">	
$(document).ready(function() {
	$('#validation-formAdd').validate({
		/*rules: {
			clazzName: 'required'
		},
		messages: {
			clazzName: '不能为空'
		},*/
		submitHandler: function(form) {
			var d = dialog({
			    title: '消息',
			    width: 200,
			    content: '正在保存',
		    	cancel: false
			}).showModal();
			var url = "${ctx}/manage/${entity}/save?random="+ Math.random();
			var params = {
				${addsParam}
				random: Math.random()
			};
			$.post(url, params, function(result) {
				d.close().remove();
				dialog({
				    title: '消息',
				    width: 200,
				    content: result.message,
				    okValue: '确定',
				    ok: function () {
				    	if (result.code == "500") {
				    		return true;	
				    	} else {
				    		_myDialog.close().remove();
			                doSearch();	
				    	}
			    	},
				    cancel: false
				}).showModal();
			}, "json");
		}
	});
	$("#btn-save").click(function() {
		$("#validation-formAdd").submit();
	});
});
</script>