${package}

import java.util.List;
import org.springframework.stereotype.Repository;

import com.house.building.dao.BaseDao;
import com.house.building.dao.I${Entity}Dao;
${import_entity}
import com.house.building.mapper.I${Entity}Mapper;
import com.house.building.param.${Entity}QueryParam;

@Repository
public class ${Entity}DaoImpl extends BaseDao<I${Entity}Mapper> implements I${Entity}Dao {
	
	@Override
	public int save(${Entity} param) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.save(param);
	}

	@Override
	public int update(${Entity} param) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.update(param);
	}

	@Override
	public int deleteById(String id) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.deleteById(id);
	}

	@Override
	public ${Entity} getDataById(String id) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.getDataById(id);
	}

	@Override
	public int count(${Entity}QueryParam param) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.count(param);
	}

	@Override
	public List<${Entity}> query(${Entity}QueryParam param, int start, int end) {
		I${Entity}Mapper mapper = getMapper(I${Entity}Mapper.class);
		return mapper.query(param, start, end);
	}
}