${package}

import java.util.List;
${import_entity}
import com.house.building.param.${Entity}QueryParam;

public interface I${Entity}Dao {
	
	int save(${Entity} param);
	int update(${Entity} param);
	int deleteById(String id);
	${Entity} getDataById(String id);
	
	int count(${Entity}QueryParam param);
	List<${Entity}> query(${Entity}QueryParam param, int start, int end);
}