package ${package}.service;

import ${package}.entity.${Entity};
import ${package}.page.IPage;
import ${package}.param.${Entity}QueryParam;

public interface I${Entity}Service {

	void save(${Entity} param);
	void update(${Entity} param);
	void deleteById(String id);
	${Entity} getDataById(String id);
	
	IPage<${Entity}> query(${Entity}QueryParam param, int page, int rows);
}
