<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velocity.template.mapper.IClazzMapper">
	<resultMap type="com.velocity.template.entity.Clazz" id="clazzResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CLAZZ_NAME" property="clazzName" jdbcType="VARCHAR" />
		<result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
		FROM CLAZZ a where 1=1
		<if test="param.startDate != null and param.startDate != ''">
			<![CDATA[ AND TO_CHAR(a.CREATE_TIME, 'YYYY-MM-DD') >= #{param.startDate} ]]>
		</if>
		<if test="param.endDate != null and param.endDate != ''">
			<![CDATA[ AND TO_CHAR(a.CREATE_TIME, 'YYYY-MM-DD') <= #{param.endDate} ]]>
		</if>
	</sql>
	
	<select id="getDataById" resultMap="clazzResult">
		SELECT * FROM CLAZZ WHERE ID = #{id, jdbcType=VARCHAR}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="clazzResult">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO CLAZZ (ID, CLAZZ_NAME, TABLE_NAME, TITLE, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{param.id, jdbcType=VARCHAR},
#{param.clazzName, jdbcType=VARCHAR},
#{param.tableName, jdbcType=VARCHAR},
#{param.title, jdbcType=VARCHAR},
#{param.status, jdbcType=VARCHAR},
#{param.createTime, jdbcType=TIMESTAMP},
#{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update CLAZZ
		<set>
UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteById">
		delete from CLAZZ a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>
